<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--текущее состояние программы(dev/prod/...):-->
    <add key="InstanceName" value="Dev" />
    <!--Main connection string:-->
    <add key="DBConnectionString" value="[...]" />
    <!--Maximum batch size for one iteration on cleanup-->
    <add key="CleanupBatchSize" value="1000" />
    <!--Write Bulk Options-->
    <add key="WriteBatchSize" value="1000" />
    <add key="WriteBatchTimeout" value="60" />
    <!--Authentication Secret Key-->
    <add key="AuthSecretKeyBase64" value="your-256-bit-secret" />
  </appSettings>
</configuration>