<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="GPR" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="GPR" value="GRPSOURCE" />
  </packageSources>
  <packageSourceCredentials>
    <GPR>
      <add key="Username" value="GRPUSERNAME" />
      <add key="ClearTextPassword" value="GRPPASS" />
    </GPR>
  </packageSourceCredentials>
</configuration>